/web/bundles/
/web/gpx_files/
/web/images/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/parameters.yml
/nbproject/
.idea/
.idea/workspace.xml
*.DS_Store*
src/Caching/BlogBundle/Resources/config/parameters.ini
update-vendors
.DS_Store