{% extends 'CachingBlogBundle:Home:index.html.twig' %}

{% block content %}
    <div class="entry">
        <div class="building-block">
            Symfony
        </div>
        <hr />
        <div class="building-block">
            Less
        </div>
    </div>
{% endblock %}
