{% extends 'CachingBlogBundle:Home:index.html.twig' %}

{% block body %}
    <div id="map-canvas" style="width:600px;height:500px"></div>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAfSSsh5P0kxnOijacuGqijvt1-1h-cBGg&sensor=false&libraries=polyline" type="text/javascript"></script>
    <script>
        (function() {
            var latlng = new google.maps.LatLng({{ avgLat }}, {{ avgLong }});
            var myOptions = {
                zoom: 14,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

            var flightPlanCoordinates = [
                {% for point in points %}
                new google.maps.LatLng({{ point['latitude'] }}, {{ point['longitude'] }}),
                {% endfor %}
            ];
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 2
              });

            flightPath.setMap(map);
        })();
    </script>
{% endblock %}

