    background:url('/bundles/cachingblog/images/bg3.jpg') repeat;
.fl { float:left; }
.fr { float:right; }
.clear { clear:both; }

.entry {
    margin-bottom:50px;
}

.entry p {
    width:390px;
    text-align:justify;
}

form .form-part {
    margin:10px 0;
}

form .input {
    margin-left:120px;
}

form textarea {
    height:90px;
}

.images {
}

}